/* App.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - 160px); /* Adjust for header/footer height */
}

.text-purple {
  color: #6f42c1;
}

.bg-light-primary {
  background-color: #f0f3ff;
}
